<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="baseWebsiteUrl" value="http://vfldev.c55.copperleaf.cloud/BASE_DEV/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="driver_name" value="PhantomJS" xdt:Transform="Insert" />
    <add key="phantom_executable_path" value="C:\build\phantomjs-2.1.1-windows\bin" xdt:Transform="Insert" />
  </appSettings>
</configuration>
