<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="baseWebsiteUrl" value="http://ec2-34-209-151-35.us-west-2.compute.amazonaws.com/BASE_DEV/" />
    <add key="copperleaf_username" value="cltadmin" />
    <add key="copperleaf_password" value="copp3rl3af" />
  </appSettings>
</configuration>
