<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="baseWebsiteUrl" value="http://ec2-34-209-151-35.us-west-2.compute.amazonaws.com/BASE_DEV/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="copperleaf_username" value="cltadmin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="copperleaf_password" value="copp3rl3af" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
