<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="baseWebsiteUrl" value="http://qa2.copperleaf.local/DUKET_11_3_QA/Copperleaf5/"/>
    <add key="copperleaf_username" value="cltadmin"/>
    <add key="copperleaf_password" value="copp3rl3af"/>
  </appSettings>
</configuration>
